.about-me {
  width: @mobile-width-percent;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 30px;
}

.about-me__title {
  .set-font(block-title);

  margin-bottom: 40px;
}

.about-me__information {
  .set-font(regular);
  margin-bottom: 10px;
}

@media (min-width: @tablet-width) {
  .about-me {
    width: @tablet-width-percent;
    padding-top: 80px;
  }
}

@media (min-width: @desktop-width) {
  .about-me {
    width: @desktop-fix-width;
  }
}
