.about-me {
  width: @mobile-width-percent;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 30px;
}

.about-me__title {
  .set-font(section-title);
  text-transform: uppercase;
}

.about-me__information {
  .set-font(description);
  margin-bottom: 10px;
}
