.about-me {
  width: @mobile-width-percent;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 30px;
}

.about-me__title {
  .set-font(block-title);

  margin-bottom: 40px;
}

.about-me__details {
  margin-bottom: 20px;

  h3 {
    .set-font(custom, 20px, 22px, 700);

    margin-bottom: 20px;
  }

  table {
    border-collapse: collapse;
  }

  th, td {
    text-align: left;
  }

  th {
    vertical-align: top;
    padding-right: 25px;
  }
}

.about-me__description {
  .set-font(regular);
  text-align: justify;

  margin-bottom: 30px;

  p {
    margin-bottom: 10px;
  }
}



@media (min-width: @tablet-width) {
  .about-me {
    width: @tablet-width-percent;
    padding-top: 80px;
  }

  .about-me__container {
    display: flex;
    justify-content: space-between;
  }

  .about-me__description {
    margin: 0;
  }

  .about-me__details {
    margin: 0;
    margin-right: 20px;

    table {
      width: 200px;
    }
  }
}

@media (min-width: @desktop-width) {
  .about-me {
    width: @desktop-fix-width;
  }
}
