.button {
  .set-font(regular; 700);
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: @button-text-color;

  display: block;
  box-sizing: border-box;
  padding: 20px 15px;
  border-radius: 5px;
  border: 1px solid @button-border-color;

  background-color: @button-bg-color;

  &:hover {
    background-color: @button-hover-bg-color;
  }

  &:focus {
    background-color: @button-hover-bg-color;
  }

  &:active {
    background-color: @button-active-bg-color;
  }

  &--small {
    .set-font(custom; 14px; 15px; 700);

    display: flex;
    padding: 10px;

    span {
      margin: auto;
    }
  }

  &--solo {
    width: 100%;
  }

  &--duo {
    width: 45%;
  }
}
