.contacts {
  color: @text-light-color;

  padding-top: 70px;
  padding-bottom: 30px;

  background-color: @contacts-bg-color;
}

.contacts__wrapper {
  width: @mobile-width-percent;
  margin: 0 auto;
}

.contacts__title {
  .set-font(block-title);
  color: @white;

  margin-bottom: 30px;
}

.contacts__intro {
  .set-font(regular);
  color: @white;

  margin-bottom: 30px;
}

.contacts__feedback {
  margin-bottom: 40px;
}

.contacts__label {
  display: block;
  margin-bottom: 15px;
}

.contacts__field {
  .set-font(custom; 16px; 18px);
  color: @contacts-text-color;

  width: 100%;
  padding: 8px 15px;
  border: 1px solid @contacts-field-border-color;
  border-radius: 5px;

  background-color: @contacts-field-bg-color;

  &::placeholder {
    color: @contacts-placeholder-color;
  }
}

.contacts__field[type="text"],
.contacts__field[type="email"] {
  padding-right: 40px;
}

.contacts__feedback textarea {
  resize: none;
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    width: @tablet-width-percent;
  }

  .contacts__feedback {
    width: 450px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__wrapper {
    width: @desktop-fix-width;
  }
}
