@keyframes pushMe {
  0%, 20%, 40% {
    transform: scale(1);
  }

  10%, 30% {
    transform: scale(1.15)
  }
}

.education {
  width: @mobile-width-percent;
  padding-top: 70px;
  padding-bottom: 30px;
  margin: 0 auto;

  background-color: @education-bg-color;
}

.education__title {
  .set-font(block-title);

  margin-bottom: 30px;
}

.education__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.education__item-link {
  text-decoration: none;
}

.education__item-title {
  .set-font(custom; 21px; 25px; 700);
  color: @education-text-color;

  margin-bottom: 5px;

  &:hover {
    color: @education-title-hover-color;
  }

  &:focus {
    color: @education-title-hover-color;
  }

  &:active {
    color: @education-title-active-color;
  }
}

.education__item-date {
  .set-font(custom; 13px; 15px);
  color: @education-date-color;
}

.education__item-time {
  display: block;
  margin-bottom: 10px;
}

.education__item-description {
  .set-font(regular);
  margin-bottom: 10px;
}

.education__item-experience-list {
  margin-bottom: 15px;
}

.education__item-experience {
  position: relative;

  .set-font(regular);

  padding-left: 15px;
  margin-bottom: 5px;

  &--uppercase {
    text-transform: uppercase;
  }

  &::before {
    content: "";

    position: absolute;
    top: 8px;
    left: 0;

    width: 10px;
    height: 3px;

    background-color: @education-experience-before-color;
  }
}

.eduction__table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}

.education__table-heading,
.education__table-data {
  padding: 10px 0;
  border-bottom: 1px solid @education-table-border-color;
}

.education__table-heading {
  &--uppercase {
    text-transform: uppercase;
  }
}

.education__table-data {
  text-align: right;

  span {
    text-transform: uppercase;
  }
}

.education__item-details {
  &[open] {
    .education__item-summary {
      animation-play-state: paused;

      &::before {
        top: auto;
        bottom: 20px;
        transform: rotate(-40deg);
        background-color: @education-details-hover-color;
      }

      &::after {
        top: auto;
        bottom: 20px;
        transform: rotate(40deg);
        background-color: @education-details-hover-color;
      }
    }
  }
}

.education__item-summary {
  position: relative;

  display: block;
  width: 80px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 20px;

  cursor: pointer;

  animation-name: pushMe ;
  animation-duration: 2.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;

  &::-webkit-details-marker {
    display: none;
  }

  &::-moz-list-bullet {
    list-style-type: none;
  }

  &::before {
    transition-property: all;
    transition-duration: 0.3s;
    .education-arrow(left-part);
  }

  &::after {
    transition-property: all;
    transition-duration: 0.3s;
    .education-arrow(right-part);
  }

  &:hover {
    animation-play-state: paused;

    &::before {
      background-color: @education-details-hover-color;
    }

    &::after {
      background-color: @education-details-hover-color;
    }
  }

  &:focus {
    animation-play-state: paused;

    &::before {
      background-color: @education-details-hover-color;
    }

    &::after {
      background-color: @education-details-hover-color;
    }
  }

  &:active {
    &::before {
      background-color: @education-details-active-color;
    }

    &::after {
      background-color: @education-details-active-color;
    }
  }
}

.education__item-experience-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}

.education__experience-link {
  width: 45%;

  &--solo {
    width: 100%;
  }
}

@media (min-width: @tablet-width) {
  .education {
    width: @tablet-width-percent;
    padding-top: 80px;
  }

  .education__item {
    position: relative;

    width: 50%;
    margin: 0;

    padding-bottom: 30px;
  }

  .education__item-title,
  .education__item-time {
    text-align: right;
  }

  .education__item:nth-child(2n) {
    margin-left: auto;

    .education__item-title,
    .education__item-time {
      text-align: left;
    }
  }

  .education__item-summary {
    margin-bottom: 0;
  }

  .eduction__table {
    margin: 0;
  }

  .education__item:nth-child(2n+1) {

    padding-right: 40px;

    &::before {
      .education-line(odd);
    }

    &::after {
      .education-mark(odd)
    }
  }

  .education__item:first-child {
    &::after {
      top: 3px;
    }
  }

  .education__item:nth-child(2n) {
    padding-left: 40px;

    &::before {
      .education-line(even);
    }

    &::after {
      .education-mark(even);
    }
  }
}

@media (min-width: @desktop-width) {
  .education {
    width: @desktop-fix-width;
  }
}
