.education {
  width: @mobile-width-percent;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 30px;
}

.education__item {
  margin-bottom: 30px;
}

.education__title {
  .set-font(section-title);
  text-transform: uppercase;
}

.education__item-link {
  text-decoration: none;
}

.education__item-title {
  .set-font(education-title);
  color: @education-text-color;
}

.education__item-date {
  .set-font(education-date);
  color: @education-date-color;
}

.education__item-time {
  display: block;
  margin-bottom: 25px;
}

.education__item-description {
  .set-font(description);
  margin-bottom: 20px;
}

.education__item-experience-list {
  padding-left: 25px;
  margin-bottom: 40px;
}

.education__item-experience {
  .set-font(experience);
}
