.education {
  width: @mobile-width-percent;
  padding-top: 60px;
  padding-bottom: 30px;
  margin: 0 auto;

  background-color: @white;
}

.education__title {
  .set-font(section-title);
  text-transform: uppercase;
}

.education__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.education__item-link {
  text-decoration: none;
}

.education__item-title {
  .set-font(education-title);
  color: @education-text-color;
}

.education__item-date {
  .set-font(education-date);
  color: @education-date-color;
}

.education__item-time {
  display: block;
  margin-bottom: 25px;
}

.education__item-description {
  .set-font(description);
  margin-bottom: 10px;
}

.education__item-experience-list {
  margin-bottom: 15px;
}

.education__item-experience {
  .set-font(description);

  padding-left: 20px;
  margin-bottom: 5px;
}

.education__item-details {
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
  }

  th, td {
    box-sizing: border-box;
    padding: 10px 0;
    border-top: 1px solid @education-table-border-color;
    border-bottom: 1px solid @education-table-border-color;
  }

  th {
    font-weight: 400;
  }

  td {
    text-align: center;
  }

  tr:first-child {
    th {
      border-top: none;
    }

    td {
      border-top: none;
    }
  }
}

.education__item-summary {
  position: relative;

  .set-font(more);

  display: inline-block;
  padding-right: 25px;
  margin-bottom: 20px;

  cursor: pointer;

  &::-webkit-details-marker {
    display: none;
  }

  &::-moz-list-bullet {
    list-style-type: none;
  }

  &:hover {
    color: @education-details-hover-color;
  }

  &:focus {
    color: @education-details-hover-color;
  }

  &:focus .education__item-more-button {
    border-bottom-style: solid;
    border-color: @education-details-hover-color;
  }

  &:active {
    color: @education-details-active-color;
  }

  .education__item-more-button {
    border-bottom: 1px dashed @education-details-border-color;

    &:hover {
      border-bottom-style: solid;
      border-color: @education-details-hover-color;
    }

    &:active {
      border-bottom-style: solid;
      border-color: @education-details-hover-color;
    }
  }
}

.education__item-details[open] {
  .education__item-summary {
    color: @education-details-hover-color;
  }

  .education__item-more-button {
    border-bottom-style: solid;
    border-color: @education-details-hover-color;
  }
}

.education__item-experience-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}
