.footer {
  color: @white;

  padding-top: 30px;
  padding-bottom: 30px;

  background-color: @footer-bg-color;
}

.footer__logo {
  .set-font(footer-logo);
  text-transform: uppercase;
  text-decoration: none;
  color: @footer-logo-color;

  display: inline-block;
  margin-bottom: 15px;
}

.footer__wrapper {
  width: @mobile-width-percent;
  margin: 0 auto;
}

.footer__social {
  margin-bottom: 20px;
}

.footer__developed-by {
  .set-font(developed-by);
  color: @white;
  text-align: center;
}
