.footer {
  color: @footer-text-color;

  padding-top: 30px;
  padding-bottom: 30px;

  background-color: @footer-bg-color;
}

.footer__wrapper {
  width: @mobile-width-percent;
  margin: 0 auto;
}

.footer__social {
  margin-bottom: 20px;
}

.footer__developed-by {
  .set-font(custom; 14px; 15px);
  color: @white;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .footer__wrapper {
    width: @tablet-width-percent;
  }
}

@media (min-width: @desktop-width) {
  .footer__wrapper {
    width: @desktop-fix-width;
  }
}
