.header {
  position: fixed;
  z-index: 10;
  top: 0;

  color: @white;

  width: 100%;
  padding-top: 15px;

  background-color: @header-bg-color;
}

.header__logo {
  margin-left: @mobile-padding-percent;
}

@media (max-width: @mobile-width-only) {
  .header--nojs {
    position: static;

    background-color: @header-nojs-bg-color;
  }
}

@media (min-width: @tablet-width) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: @tablet-width-percent;
    margin: 0 auto;
  }

  .header__logo {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .header__container {
    width: @desktop-fix-width;
  }
}
