.inner-page {
  color: @text-color;

  display: block;
  padding-top: 70px;
  padding-bottom: 40px;
  background-color: @inner-page-bg-color;
}

.inner-page__wrapper {
  text-align: center;

  width: @mobile-width-percent;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .inner-page {
    padding-top: 90px;
  }

  .inner-page__wrapper {
    width: @tablet-width-percent;
  }

  .inner-page__container {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .inner-page__wrapper {
    width: @desktop-fix-width;
  }
}
