.main-navigation__menu-link {
  .set-font(regular; 700);
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  color: @main-navigation-link-color;

  display: block;
  padding: 20px @mobile-padding-percent;

  &:hover {
    color: @main-navigation-link-hover-color;
    background-color: @main-navigation-link-hover-bg-color;
  }

  &:focus {
    color: @main-navigation-link-hover-color;
    background-color: @main-navigation-link-hover-bg-color;
  }

  &:active {
    color: @main-navigation-link-active-color;
  }
}

@media (max-width: @mobile-width-only) {
  .main-navigation {
    max-height: calc(100vh - 53px);
    overflow: auto;

    &--closed {
      .main-navigation__burger {
        background-color: @white;

        transition-property: background-color;
        transition-duration: 0.3s;
        transition-delay: 0.2s;

        &::before {
          transform: rotate(0deg) translateY(-7px);

          transition-property: transform;
          transition-duration: 0.3s;
        }

        &::after {
          transform: rotate(0deg) translateY(7px);

          transition-property: transform;
          transition-duration: 0.3s;
        }
      }

      .main-navigation__menu-list {
        display: none;
      }
    }

    &--nojs {
      .main-navigation__toggle {
        display: none;
      }
    }
  }

  .main-navigation__toggle {
    position: absolute;
    top: 10px;
    right: @mobile-padding-percent;

    display: block;
    width: 50px;
    height: 35px;
    padding: 0 8px;
    border: none;

    background-color: transparent;
  }

  .main-navigation__burger {
    position: relative;

    display: block;
    width: 100%;
    height: 3px;

    background-color: transparent;
    transition-property: background-color;
    transition-duration: 0.2s;

    &::before {
      .burger-line(top);

      transition-property: transform;
      transition-duration: 0.3s;
    }

    &::after {
      .burger-line(bottom);

      transition-property: transform;
      transition-duration: 0.3s;
    }
  }
}

@media (min-width: @tablet-width) {
  .main-navigation__toggle {
    display: none;
  }

  .main-navigation {
    width: 84%;
    max-width: 580px;
  }

  .main-navigation__menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-navigation__menu-link {
    .set-font(regular);
    text-transform: capitalize;
    padding: 0;

    &:hover {
      background-color: transparent;
    }

    &:focus {
      background-color: transparent;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-navigation {
    width: 620px;
    max-width: unset;
  }
}
