.set-font (custom; @size; @height; @weight: normal) {
  font-family: "Arial", sans-serif;
  font-size: @size;
  line-height: @height;
  font-weight: @weight;
}

.set-font (regular) {
  font-family: "Arial", sans-serif;
  font-size: @regular-font-size;
  line-height: @regular-line-height;
  font-weight: normal;
}

.set-font (regular; @weight) {
  font-family: "Arial", sans-serif;
  font-size: @regular-font-size;
  line-height: @regular-line-height;
  font-weight: @weight;
}

.set-font (logo) {
  font-family: "Times New Roman", sans-serif;
  font-size: @logo-font-size;
  line-height: @logo-line-height;
  font-weight: 700;
  text-transform: uppercase;
}

.set-font (block-title) {
  font-family: "Arial", sans-serif;
  font-size: @block-title-font-size;
  line-height: @block-title-line-height;
  font-weight: 700;
  text-transform: uppercase;
}

.burger-line (@_) {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 3px;

  background-color: @white;
}

.burger-line(top) {
  transform: rotate(45deg);
}

.burger-line(bottom) {
  transform: rotate(-45deg);
}

.welcome-double-arrow(@_; @color:@welcome-double-arrow-color) {
  content: "";

  position: absolute;
  top: 15px;

  width: 20px;
  height: 3px;

  background-color: @color;
}

.welcome-double-arrow(first-part; @color:@welcome-double-arrow-color) {
  left: 4px;

  transform: rotate(45deg);
  box-shadow: 7px 7px 0 0 @color;
}

.welcome-double-arrow(second-part; @color:@welcome-double-arrow-color) {
  right: 4px;

  transform: rotate(-45deg);
  box-shadow: -7px 7px 0 0 @color;
}

.slide-arrow(@_; @left; @right; @deg) {
  content: "";

  position: absolute;
  top: 30px;
  left: @left;
  right: @right;

  width: 65%;
  height: 4px;

  background-color: @slider-arrow-color;
}

.slide-arrow(first-part; @left; @right; @deg) {
  transform: rotate(@deg);
}

.slide-arrow(second-part; @left; @right; @deg) {
  top: auto;
  bottom: 30px;

  transform: rotate(-@deg);
}

.education-arrow(@_) {
  content: "";

  position: absolute;
  top: 20px;

  width: 24px;
  height: 3px;

  background-color: black;
}

.education-arrow(left-part) {
  left: 20px;

  transform: rotate(40deg);
}

.education-arrow(right-part) {
  right: 20px;

  transform: rotate(-40deg);
}

.education-line(@_) {
  content: "";

  position: absolute;
  top: 0;

  width: 4px;
  height: 101%;

  background-color: @education-line-color;
}

.education-line(odd) {
  right: -2px;
}

.education-line(even) {
  left: -2px;
}

@keyframes flash {
  0% {
    box-shadow: 0 0 0 0px lighten(@educartion-mark-color, 10%);
  }

  100% {
    box-shadow: 0 0 0 10px transparent;
  }
}

.education-mark(@_) {
  content: "";

  position: absolute;
  z-index: 2;
  top: 15px;

  width: 22px;
  height: 22px;
  border-radius: 50%;

  background-color: @educartion-mark-color;

  animation-name: flash;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.education-mark(odd) {
  right: -11px;
}

.education-mark(even) {
  left: -11px;
}

.close(@_) {
  content: "";

  display: block;
  width: 100%;
  height: 3px;

  background-color: @modal-close-color;
}

.close(first-part) {
  transform: rotate(-45deg);
}

.close(second-part) {
  transform: translateY(-3px) rotate(45deg);
}
