.set-font (@_) {
  font-family: "Arial", sans-serif;
  font-weight: 400;
}

.set-font(regular) {
  font-size: 16px;
  line-height: 18px;
}

.set-font(logo) {
  font-family: "Times New Roman", sans-serif;
  font-size: 35px;
  line-height: 35px;
  font-weight: 700;
}

.set-font(navigation) {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}

.set-font(button) {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}

.set-font(button-small) {
  font-size: 14px;
  line-height: 15px;
  font-weight: 700;
}

.set-font(hi) {
  font-size: 29px;
  line-height: 35px;
  font-weight: 700;

  margin-bottom: 40px;
}

.set-font(section-title) {
  font-size: 26px;
  line-height: 30px;
  font-weight: 700;

  margin-bottom: 40px;
}

.set-font(big-text) {
  font-size: 25px;
  line-height: 30px;

  margin-bottom: 30px;
}

.set-font(technology-title) {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.set-font(description) {
  font-size: 17px;
  line-height: 20px;
}

.set-font(education-title) {
  font-size: 21px;
  line-height: 25px;
  font-weight: 700;

  margin-bottom: 5px;
}

.set-font(education-date) {
  font-size: 13px;
  line-height: 15px;
}


.set-font(experience) {
  font-size: 15px;
  line-height: 15px;

  margin-bottom: 10px;
}

.set-font(more) {
  font-size: 20px;
  line-height: 20px;
}

.set-font(project-title) {
  font-size: 22px;
  line-height: 18px;
  font-weight: 700;
}
