.more-projects {
  padding: 20px;
  border: 1px solid @more-projects-border-color;
  border-radius: 5px;
}

.more-projects__title {
  .set-font(custom; 25px; 24px; 700);

  margin-bottom: 30px;
}

.more-projects__item {
  margin-bottom: 30px;
  padding: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.more-projects__item-link {
  text-decoration: none;

  &:focus {
    .more-projects__item-heading {
      color: @more-projects-hover-text-color;

      &::before {
        filter: grayscale(0.5);
      }
    }
  }

  &:active {
    .more-projects__item-heading {
      color: @more-projects-active-text-color;

      &::before {
        filter: grayscale(1);
      }
    }
  }
}

.more-projects__item-heading {
  position: relative;

  .set-font(custom; 20px; 22px);
  color: @more-projects-text-color;

  padding: 20px 0;
  padding-left: 105px;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 90px;
    height: 60px;
    border-radius: 5px;

    background-color: @more-projects-bg-color;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &--catenergy::before {
    background-image: url("../img/cat-energy-preview-mini-mobile@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/cat-energy-preview-mini-mobile@2x.jpg");
      background-size: 90px auto;
    }
  }

  &--technomart::before {
    background-image: url("../img/technomart-preview-mini-mobile@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/technomart-preview-mini-mobile@2x.jpg");
      background-size: 91px auto;
    }
  }

  &:hover {
    color: @more-projects-hover-text-color;

    &::before {
      filter: grayscale(0.5);
    }
  }
}

@media (min-width: @tablet-width) {
  .more-projects {
    text-align: center;

    width: 25%;
  }

  .more-projects__item {
    width: 150px;
    margin: 0 auto;
  }

  .more-projects__item-heading {
    padding: 0;
    padding-top: 115px;
    padding-bottom: 10px;

    &::before {
      top: 0;
      left: 0;
      right: 0;

      width: 145px;
      height: 95px;
      margin: 0 auto;
    }

    &--catenergy::before {
      background-image: url("../img/cat-energy-preview-mini-tablet@1x.png");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/cat-energy-preview-mini-tablet@2x.png");
        background-size: 145px auto;
      }
    }

    &--technomart::before {
      background-image: url("../img/technomart-preview-mini-tablet@1x.jpg");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/technomart-preview-mini-tablet@2x.jpg");
        background-size: 145px auto;
      }
    }
  }
}
