.technologies {
  padding-top: 70px;
  padding-bottom: 30px;

  background-color: @technologies-bg-color;
}

.technologies__wrapper {
  width: @mobile-width-percent;
  margin: 0 auto;
}

.technologies__title {
  .set-font(block-title);

  margin-bottom: 30px;
}


.technologies__intro {
  .set-font(regular);

  margin-bottom: 30px;
}

.technologies__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.technologies__technology {
  text-align: center;

  display: inline-block;
  box-sizing: border-box;
  width: 140px;
  padding: 15px 30px;
  margin: 0 10px;
  margin-bottom: 20px;
  border: 1px solid @technology-border-color;
  border-radius: 5px;

  background-color: @technology-bg-color;
}

.technologies__technology-image {
  width: 100%;
  margin-bottom: 15px;
}

.technologies__technology-title {
  .set-font(custom; 16px; 18px; 700);

  display: block;

  &--uppercase {
    text-transform: uppercase;
  }
}
