@mobile-width: 320px;
@mobile-width-percent: 88%;
@mobile-padding-percent: 6%;
@mobile-width-only: 659px;

@tablet-width: 660px;
@tablet-width-percent: 91%;

@desktop-width: 960px;
@desktop-fix-width: 900px;

@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

@regular-font-size: 17px;
@regular-line-height: 20px;

@logo-font-size: 28px;
@logo-line-height: 28px;

@block-title-font-size: 26px;
@block-title-line-height: 30px;

@white: #ffffff;
@black: #000000;
@blue: #1e8dee;

@text-color: @black;
@text-light-color: @white;
@text-hover-color: @blue;
@text-active-color: darken(@text-hover-color, 20%);

@header-bg-color: fade(@black, 80%);
@header-nojs-bg-color: lighten(@black, 20%);

@logo-color: @text-light-color;
@logo-hover-color: @text-hover-color;
@logo-active-color: @text-active-color;

@main-navigation-link-color: @text-light-color;
@main-navigation-link-hover-bg-color: fade(@black, 50%);
@main-navigation-link-hover-color: @text-hover-color;
@main-navigation-link-active-color: @text-active-color;

@welcome-bg-color: lighten(@black, 40%);
@welcome-text-color: @text-light-color;

@button-text-color: @text-light-color;
@button-bg-color: @blue;
@button-hover-bg-color: darken(@button-bg-color, 20%);
@button-active-bg-color: darken(@button-bg-color, 30%);

@button-back-bg-color: lighten(@black, 40%);
@button-back-hover-bg-color: darken(@button-back-bg-color, 10%);
@button-back-active-bg-color: darken(@button-back-bg-color, 20%);

@technologies-bg-color: darken(@white, 5%);
@technology-bg-color: @white;
@technology-border-color: darken(@technology-bg-color, 30%);

@education-bg-color: @white;
@education-text-color: @text-color;
@education-date-color: lighten(@text-color, 55%);
@education-title-hover-color: @text-hover-color;
@education-title-active-color: @text-active-color;
@education-details-hover-color: @text-hover-color;
@education-details-active-color: @text-active-color;
@education-table-border-color: darken(@white, 45%);
@education-experience-before-color: @blue;

@portfolio-bg-color: darken(@white, 5%);
@portfolio-border-color: darken(@portfolio-bg-color, 30%);
@project-description-bg-color: fade(@black, 55%);

@contacts-bg-color: lighten(@black, 40%);
@contacts-field-bg-color: darken(@contacts-bg-color, 20%);
@contacts-field-border-color: darken(@contacts-field-bg-color, 10%);
@contacts-text-color: lighten(@contacts-bg-color, 50%);
@contacts-placeholder-color: darken(@contacts-text-color, 35%);

@social-bg-color: lighten(@black, 20%);
@social-border-color: darken(@social-bg-color, 10%);
@social-icon-fill: darken(@social-bg-color, 20%);
@social-hover-bg-color: lighten(@social-bg-color, 10%);
@social-hover-fill-color: darken(@blue, 10%);
@social-active-bg-color: darken(@social-bg-color, 10%);
@social-active-fill-color: darken(@blue, 15%);
@social-footer-icon-fill: @white;

@footer-text-color: @text-light-color;
@footer-bg-color: lighten(@black, 20%);

@modal-bg-color: fade(@black, 65%);
@modal-container-bg-color: @white;
@modal-close-bg-color: fade(@black, 70%);
@modal-close-color: @text-light-color;

@project-page-bg-color: darken(@white, 5%);

@breadcrumbs-text-color: @text-color;
@breadcrumbs-text-current-color: darken(@text-active-color, 10%);
@breadcrumbs-text-hover-color: @text-hover-color;
@breadcrumbs-text-active-color: @text-active-color;

@slider-bg-color: darken(@white, 30%);
@slider-number-current-color: @blue;
@slider-arrow-color: @black;
@slider-arrow-hover-color: @text-hover-color;
@slider-arrow-active-color: @text-active-color;

@more-projects-border-color: darken(@white, 30%);
@more-projects-bg-color: darken(@white, 30%);
@more-projects-text-color: @text-color;
@more-projects-hover-text-color: @text-hover-color;
@more-projects-active-text-color: @text-active-color;
