.welcome {
  text-align: left;

  display: flex;
  align-items: flex-end;
  height: 100vh;

  background-color: @welcome-bg-color;
  background-image:
    linear-gradient(to top, rgba(0, 0, 0, 0.65), transparent),
    url("../img/welcome-bg-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image:
      linear-gradient(to top, rgba(0, 0, 0, 0.65), transparent),
      url("../img/welcome-bg-mobile@2x.jpg");
  }
}

.welcome__wrapper {
  width: @mobile-width-percent;
  margin: 0 auto;
  margin-bottom: 70px;
}

.welcome__my-name {
  .set-font(custom; 26px; 33px; 700);
  color: @welcome-text-color;

  display: inline-block;
  margin-bottom: 20px;

  span {
    white-space: nowrap;
  }
}

.welcome__my-specialty {
  .set-font(custom; 25px; 30px);
  color: @welcome-text-color;
  margin-bottom: 25px;
}

.welcome__next-block {
  position: relative;

  display: block;

  width: 40px;
  height: 40px;
  margin: 0 auto;

  &::before {
    .welcome-double-arrow(first-part);
  }

  &::after {
    .welcome-double-arrow(second-part);
  }

  &:hover {
    &::before {
      .welcome-double-arrow(first-part; @welcome-double-arrow-hover-color);
    }

    &::after {
      .welcome-double-arrow(second-part; @welcome-double-arrow-hover-color);
    }
  }

  &:focus {
    &::before {
      .welcome-double-arrow(first-part; @welcome-double-arrow-hover-color);
    }

    &::after {
      .welcome-double-arrow(second-part; @welcome-double-arrow-hover-color);
    }
  }

  &:active {
    &::before {
      .welcome-double-arrow(first-part; @welcome-double-arrow-active-color);
    }

    &::after {
      .welcome-double-arrow(second-part; @welcome-double-arrow-active-color);
    }
  }
}

@media (min-width: @tablet-width) {
  .welcome {
    background-image:
      linear-gradient(to top, rgba(0, 0, 0, 0.65), transparent),
      url("../img/welcome-bg-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image:
        linear-gradient(to top, rgba(0, 0, 0, 0.65), transparent),
        url("../img/welcome-bg-tablet@2x.jpg");
    }
  }

  .welcome__wrapper {
    width: @tablet-width-percent;
    margin-bottom: 120px;
  }
}


@media (min-width: @desktop-width) {
  .welcome {
    background-image:
      linear-gradient(to top, rgba(0, 0, 0, 0.65), transparent),
      url("../img/welcome-bg-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image:
        linear-gradient(to top, rgba(0, 0, 0, 0.65), transparent),
        url("../img/welcome-bg-desktop@2x.jpg");
    }
  }

  .welcome__wrapper {
    width: @desktop-fix-width;
  }
}
